h1{
    color: blue;
}
#BenefitsofRecipe{
    color: chocolate;
}
#description{
    color: black;background-color: antiquewhite ;
}
#Ingredients{
    color: brown;
}
#Steps{
    color: blueviolet;
}
#NutritionFacts{
color: burlywood;
}
#WatchTutorial{
    color: chartreuse;
}
#CookingVibes{
    color: darkmagenta;
}
#ContactUs{
    color: crimson;
}
p{
    color: black;
    background-color: azure;
}
section{
    width: 300px;
    height: 350px;
    border:2px solid black ;
border-radius: 7px;
text-align: center;
}
