h1{
    color: blue;
}
#BenefitsofRecipe{
    color: chocolate;
}
#description{
    color: black;background-color: antiquewhite ;
}
#Ingredients{
    color: brown;
}
#Steps{
    color: blueviolet;
}
#NutritionFacts{
color: burlywood;
}
#WatchTutorial{
    color: chartreuse;
}
#CookingVibes{
    color: rgb(175, 192, 192);
}
#ContactUs{
    color: crimson;
}